{% extends "base.html" %}

{% block header %}
<header class="default-header">
  <nav class="navbar navbar-expand-lg  navbar-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="text-white lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
           <!-- Dropdown -->
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Pages
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="generic.html">Generic</a>
                <a class="dropdown-item" href="elements.html">Elements</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </nav>
</header>
{% endblock %}

{% block greet %}
<div class="container">
  <div class="row justify-content-start align-items-center">
    <div class="col-lg-6 col-md-12 no-padding banner-right">
      <img class="img-fluid" src="{{ url_for('static', filename='img/header-img.png') }}" alt="">
    </div>
    <div class="col-lg-6 col-md-12 banner-left">
      <h1 class="text-white">
        Hi, I’m <br>
        <span>Frank AK</span> <br>
        Art Director
      </h1>
      <p class="mx-auto text-white  mt-20 mb-40">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      </p>
      <a href="#" class="text-uppercase header-btn">Let Us Talk</span></a>
    </div>
  </div>
</div>
{% endblock %}

{% block service %}
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Have a Look at my Services</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="single-service col-lg-6 col-md-6 mb-30">
        <div class="icon">
          <img src="{{ url_for('static', filename='img/s1.png') }}" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Web Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
      <div class="single-service col-lg-6 col-md-6 mb-30">
        <div class="icon">
          <img src="{{ url_for('static', filename='img/s2.png') }}" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Mobile Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
      <div class="single-service col-lg-6 col-md-6">
        <div class="icon">
          <img src="{{ url_for('static', filename='img/s3.png') }}" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Print Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
      <div class="single-service col-lg-6 col-md-6">
        <div class="icon">
          <img src="{{ url_for('static', filename='img/s4.png') }}" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Interaction Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
