{% extends "base.html" %}


{% block header %}

<h1>Frank AK</h1>
<p>A Bootstrap theme for 31337 H4X0RS. Inspired by the classic green on black terminal style, this bootstrap theme will make your website 1337.</p>
<p>To hack around with the source or contribute, check out the project on Github</p>
<p>
    <a class="btn btn-lg btn-primary" href="//github.com/brobin/hacker-bootstrap/" role="button">View on Github »</a>
    <a class="btn btn-primary" href="//github.com/brobin/hacker-bootstrap/" id="stars"></a>
</p>

{% endblock %}


{% block Typography %}


<div class="col-lg-12">
    <h1>AK</h1>
    <hr>
</div>
</div>
<div class="row">
<div class="col-md-4">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
</div>
<div class="col-md-4">
    <h2>Example body text</h2>
    <p>Doge doge doge doge <a href="#">Yeah!</a> Doge doge doge doge doge doge doge doge doge.</p>
    <p><small>Fine print</small></p>
    <p><strong>Bold text</strong>.</p>
    <p><em>Italicized text</em>.</p>
</div>
<div class="col-md-4">
    <h2>Emphasis classes</h2>
    <p class="text-primary">You put the emPHAsis on the wrong syLLAbles.</p>
    <p class="text-warning">Has Anyone Really Been Far Even as Decided to Use Even Go Want to do Look More Like?</p>
    <p class="text-danger">If the answer to all questions is yes, so why not?</p>
    <p class="text-success">And when everyone is super, no one will be.</p>
    <p class="text-info">The force will be with you, always.</p>
</div>

{% endblock %}

{% block buttons  %}

{% endblock %}
